$c-black: #000;
$c-white: #fff;
$c-bg-main: #f5f7fa;
$c-bg-secondary: #f8f8f8;
$c-dark-grey: #3d3d3d;
$c-black-transparent: rgb(0, 0, 0, 0.5); 
$c-light-blue: #71a3ff;
$c-light-grey: #808080;
$c-light-green: #2ad100;

$f-w-normal: 400;
$f-w-bold: 700;
